// common css start
$monserrat: 'Montserrat',
sans-serif;
$sans: 'Open Sans',
sans-serif;
$grey1: #b7b3b3;
$grey2: #828181;
$green1: #207b20;
$green2: #2b9b2b;


body {
    font-family: $monserrat;
}


.hed {
    font-size: 20px;
    font-weight: 300;
}

.hed-2 {
    font-size: 16px;
    font-family: $sans;
    font-weight: 300;
}

.hed-hr {
    width: 43px;
    height: 1px;
}

// common css end

// header start
header {
    background: url(../images/banner.png);
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 25px;

    // <!-- nav start -->

    nav {

        ul {
            li {
                input {
                    border: none;
                    width: 177px;
                    height: 27px;
                    border-radius: 14px;
                    background-color: #ffffffbe;
                    padding-left: 20px;

                    &::placeholder {
                        font-size: 16px;
                        color: #111111;
                        font-weight: 300;
                    }
                }

                a {
                    font-size: 16px !important;
                    color: #ffffff !important;
                    // font-family: "Proxima Nova";

                }
            }
        }
    }

    // <!-- nav end -->

    // <!-- banner start -->
    .banner {
        text-align: center;

        h1 {
            font-size: 55px;
            color: #ffffff;
            font-weight: 700;
            margin-top: 200px;
        }

        button {
            padding: 15px 26px;
            border-radius: 23px;
            background-color: #53d153;
            margin-top: 30px;
            margin-bottom: 190px;
            font-size: 22px;
            color: #ffffff;
            transition: all linear .3s;

            &:hover {
                background-color: $grey1;
            }

        }

        a {
            margin: 0 auto !important;
            display: block;
            width: 135px;
            padding: 6px 11px;
            border-radius: 13px;
            background-color: #ffffffbe;
            font-size: 16px;
            color: #111111;
            font-weight: 300;
            text-decoration: none;
            transition: all linear .3s;


            &:hover {
                background-color: #53d153;
                color: #ffffff;
            }
        }
    }

    // <!-- banner end -->
}

// header end

// <!-- services start -->
.services {
    padding: 60px 0;
    text-align: center;

    .services-head {
        h1 {
            color: $grey2;
        }

        hr {
            margin: 13px auto;
            background-color: $grey2;

        }

        p {
            color: $grey1;

        }
    }

    .services-content {
        margin-top: 72px;

        img {}

        h3 {
            margin-top: 27px;
            margin-bottom: 20px;
            font-size: 24px;
            color: $grey2;
            font-weight: bold;
        }

        p {
            margin-bottom: 30px;
            font-size: 15px;
            color: $grey2;
            font-weight: 300;
            text-align: center;
        }

        button {
            padding: 9px 20px;
            border-radius: 15px;
            background-color: #53d153;
            font-size: 16px;
            color: #ffffff;
            font-weight: bold;
            transition: all linear .3s;

            // &:hover{
            //     background-color: $grey1;
            // }
        }
    }

}

//<!-- services end -->

//<!-- portfolio start -->
.portfolio {}

//<!-- portfolio end -->

//<!-- testimonials start -->
.testimonials {}

//<!-- testimonials end -->

//<!-- client start -->
.client {}

//<!-- client end -->

//<!-- team start -->
.team {}

//<!-- team end -->

//<!-- work start -->
.work {}

//<!-- work end -->

//<!-- info start -->
.information {}

//<!-- info end -->

//<!-- seen start -->
.seen {}

//<!-- seen end -->


// footer start
footer {}

// footer end